@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Lato', sans-serif;
}

.app {
  height: 100vh;
  background-color: #fff;
}

.app__cards {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__cards::-webkit-scrollbar {
  display: none;
}

.app__cards {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  position: relative;
  scroll-snap-align: start;
  padding-top: 5rem;
  height: 100vh;
}

.card {
  margin: 0 auto;
  max-width: 70vw;
  height: 80vh;
  background-color: white;
  border-radius: 30px;
  background-repeat: no-repeat;
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.card--1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0.1)
    ),
    url('./assets/images/1876.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.973);
}

.card--2 {
  background-image: url('./assets/images/2766672.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.card--3 {
  background-image: url('./assets/images/ishan-seefromthesky-DtWyp_4YEes-unsplash.jpg');
  background-position: top;
  background-size: cover;
  text-align: center;
  color: #222;
}

.card__title {
  padding-top: 4rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.card__description {
  color: currentColor;
  padding-top: 8rem;
  font-size: 2rem;
}

.btn {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
  border-style: none;
  border-radius: 40px;
  padding: 0.7rem 1.5rem;
  transition: all 0.2s;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .card--3 {
    color: #fff;
    font-size: 1.5rem;
    background-position: top right;
    background-size: 200% 100%;
  }
}
